
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="x-dns-prefetch-control" content="on" />
<meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-title" content="Python,千锋云计算">
<title>千锋云计算,Python!</title>

<link rel='stylesheet' id='bootstrap-css'  href='static/css/bootstrap.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-css'  href='static/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='stylesheet-css'  href='static/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='raxus-css'  href='static/css/raxus.css' type='text/css' media='all' />
<link rel='stylesheet' id='open-social-style-css'  href='static/css/os.css'type='text/css' media='all' />
<meta name='robots' content='index,follow' />
<meta name="keywords" content="千锋云计算">
<meta name="description" content="千锋云计算好程序员">
</head>

<body class="home blog site-layout-2">

<!-- 头部 -->
<header class="fix-wrap" id="fix-wrap">
<div class="fix-main clearfix pr" id="fix-main" _hover-ignore="1"> <a href="/" class="index-logo">
    <img src="static/picture/new_logo.png" alt="千锋云计算,Python!"></a>
<nav class="nav fl">
    <ul id="fix-list" class="fix-list clearfix">

<li id="menu-item-24086" class="menu-item"><a href="/">首页</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-1.html">Django</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-2.html">Python</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-3.html">Linux</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-4.html">Mysql</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-5.html">运维知识</a></li>


<li id="menu-item-24086" class="menu-item"><a href="/about/">关于博主</a></li>


</ul>
</nav>
    <form method="get" class="index-search  hidden-xs" action="/s/" >
        <input class="text" name="search" type="text" placeholder="输入关键字" value="">
        <button class="submit" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
</header>

    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="row">
                <!-- /banner图 -->
                <div class="col-md-6">
                    <div id="featured" class="raxus-slider" data-autoplay="3000" data-keypress="false"
                         data-thumbnail="bottom">
                        <ul class="slider-relative" id="relative">
                            
                                <li class="slide fix-width">
                                    <a href="http://www.liuwq.com/show-4.html" title="Redis集群部署">
                                        <img src="static/picture/44.jpg" srcset="media/banner/44.jpg" alt="Redis集群部署"
                                             class="wp-post-image" width="370" height="290"/></a>
                                    <span class="text ani-left"><strong>Redis集群部署</strong></span>
                                </li>
                                <li class="slide fix-width">
                                    <a href="http://www.liuwq.com/show-4.html" title="Redis集群部署">
                                        <img src="static/picture/44.jpg" srcset="media/banner/44.jpg" alt="Redis集群部署" class="wp-post-image" width="370"
                                            height="290" /></a>
                                    <span class="text ani-left"><strong>Redis集群部署</strong></span>
                                </li>
                    </div>

                </div>
                <!-- /banner图 -->

                <!-- 首页推荐 -->
                <div class="col-md-6">
                    <div class="hotread ">
                        <div class="title">推荐阅读</div>
                        
                            <div class="caption">
                                <h4><a href="/show-2.html" title="千锋云计算好程序员" rel="bookmark">千锋云计算好程序员</a></h4>
                                <p>一血 4杀5杀  so easy</p>
                            </div>

                        
                            <div class="caption">
                                <h4><a href="/show-3.html" title="Python 装饰器" rel="bookmark">Python 装饰器</a></h4>
                                <p> Python 装饰器   你若不会回炉吧...</p>
                            </div>
                    </div>
                </div>
                <!-- /今日头条 -->
            </div>
            <!-- /文章列表 -->
            <div class="index-main clearfix">
                <div class="main-title">
                    <h4 class="post-left-title fl">最新文章</h4>
                    <div class="fr"></div>
                </div>
                <div class="row">
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-10.html" title="Python 闭包">
                                        <img src="static/picture/shouji.jpeg"
                                             srcset="media/article_img/2018/10/07/shouji.jpeg"
                                             alt="Python 闭包" class="wp-post-image" width="240" height="160"/></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-10.html" target="_blank" title="Python 闭包">Python 闭包</a></h2>
                                <p class="txtcont hidden-xs"><a href="/" target="_blank"
                                                                title="Python 闭包">Python 闭包 属于python基础 基本面试会问</a></p>
                                <div class="meta"><span class="label label-info"><a
                                        href="/">Django</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2018年10月07日
                                    </time>
                                </div>
                            </div>
                        </div>
                    

                    
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-8.html" title="这是Django">
                                        <img src="static/picture/tx_3zybskx.jpg"
                                             srcset="media/article_img/2018/10/07/tx_3zybSKX.jpg"
                                             alt="这是Django Blog" class="wp-post-image" width="240" height="160"/></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-8.html" target="_blank" title="这是Django Blog应用">这是Django Blog应用</a></h2>
                                <p class="txtcont hidden-xs"><a href="/" target="_blank"
                                                                title="这是Django Blog应用">djang blog  哈哈  哈哈 </a></p>
                                <div class="meta"><span class="label label-info"><a
                                        href="/">Python</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2018年10月07日
                                    </time>
                                </div>
                            </div>
                        </div>
                    

                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-5.html" title="Django 学起来有那么难吗？">
                                        <img src="static/picture/web1_if1rrie.jpg"
                                             srcset="media/article_img/2018/10/07/web1_If1RRie.jpg"
                                             alt="Django 学起来有那么难吗？" class="wp-post-image" width="240" height="160"/></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-5.html" target="_blank" title="Django 学起来有那么难吗？">Django</a></h2>
                                <p class="txtcont hidden-xs"><a href="/" target="_blank"
                                                                title="Django 学起来有那么难吗？">Django 学起来有那么难吗？ so easy!</a></p>
                                <div class="meta"><span class="label label-info"><a
                                        href="/">Mysql</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2018年10月07日
                                    </time>
                                </div>
                            </div>
                        </div>
                    
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-4.html" title="Django基本命令">
                                        <img src="static/picture/firefox503.jpg"
                                             srcset="media/article_img/2018/10/07/firefox503.jpg"
                                             alt="Django基本命令" class="wp-post-image" width="240" height="160"/></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-4.html" target="_blank" title="Django基本命令">Django基本命令</a></h2>
                                <p class="txtcont hidden-xs"><a href="/" target="_blank"
                                                                title="Django基本命令">Django基本命令使用</a></p>
                                <div class="meta"><span class="label label-info"><a
                                        href="/">Linux</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2018年10月07日
                                    </time>
                                </div>
                            </div>
                        </div>
                    
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-3.html" title="Python 装饰器">
                                        <img src="static/picture/ie10-3.jpg"
                                             srcset="media/article_img/2018/10/07/IE10-3.jpg"
                                             alt="Python 装饰器" class="wp-post-image" width="240" height="160"/></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/show-3.html" target="_blank" title="Python 装饰器">Python 装饰器</a></h2>
                                <p class="txtcont hidden-xs"><a href="/" target="_blank"
                                                                title="Python 装饰器">Python 装饰器</a></p>
                                <div class="meta"><span class="label label-info"><a
                                        href="/">运维知识</a></span>
                                    <time class="item"><i class="fa fa-clock-o"></i>2018年10月07日
                                    </time>
                                </div>
                            </div>
                        </div>
                    

                </div>
                <!-- /文章列表 -->
        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        <aside class="post-right hidden-xs">
            </section>
            <section class="widget post-right-item">
                <h4 class="post-right-title">热门文章排行</h4>
                <ol class="hot-list">
                    
                        <li><a href="/show-3.html" title="Python 装饰器">Python 装饰器</a></li>
                    
                        <li><a href="/show-10.html" title="Python 闭包">Python 闭包</a></li>

                </ol>
            </section>
            </section>
            </section>


            <section class="widget post-right-item"><h4 class="post-right-title">热门推荐</h4>
                <ul class="post-new">
                    
                        <li>
                            <div class="img">
                                <a href="/show-1.html" title="python基本使用"><img src="static/picture/next-1.png"
                                                                       srcset="media/article_img/2018/10/07/next-1.png" alt="千锋云计算好程序员"
                                                                       class="wp-post-image" width="120"
                                                                       height="80"/></a>
                            </div>
                            <div class="text">
                                <a href="/show-1.html" title="千锋云计算好程序员" target="_blank">千锋云计算好程序员</a>
                            </div>
                        </li>
                </ul>
            </section>
            </section>
            <section class="widget post-right-item"><h4 class="post-right-title">所有标签</h4>
                <div class="tags">
                    
                        <a href="/tag/django">django</a>
                    
                        <a href="/tag/Python">python</a>
                    
                        <a href="/tag/mysql">mysql</a>
                    
                        <a href="/tag/Linux">Linux</a>
                    
                </div>
            </section>
            </section><!-- /关注我们 -->
            <div class="post-right-item">
                <h4 class="post-right-title">关注我</h4>
                <div class="wid-about">
                    <p>欢迎关注！</p>
                    <img src="static/picture/weixinqr.jpg" alt="微信二维码" width="160" height="160">
                </div>
                <div class="wid-about">
                    <p><strong>联系方式:</strong></p>
                    <p>wechat:liuwenqi7011</p>
                    <p>Email：liuwenqi7011@163.com</p>
                </div>
            </div>

        </aside>
        <div class="FriendLink hidden-xs clearfix">
            <div class="title"><h3>友情链接：</h3></div>
            <ul class="clears">
                
                    <li><a href="http://www.liuwq.com" target="_blank">liuwq</a></li>
                
            </ul>
        </div>
    </div>


<!-- 底部 -->
<footer class="footer">
<div class="copyright"> © 2010- 2018 · All Rights Reserved
    · <a href="http://www.liuwq.com">凯撒公猿</a>
    · <a href="http://www.miibeian.gov.cn" target="_blank">备案号xxxx号</a> 版权所有 xxxxx</div>
</footer>
<script src="static/js/bundle.js"></script>
<script type="text/javascript" src="static/js/view-history.js"></script>
<script type='text/javascript' src="static/js/push.js" ></script>
<script type='text/javascript' src='static/js/jquery.min.js'></script>
<script type='text/javascript' src='static/js/bootstrap.min.js'></script>
<script type='text/javascript' src='static/js/raxus-slider.min.js'></script>
<script type='text/javascript' src='static/js/loader.js'></script>
<script type='text/javascript' src='static/js/bj-lazy-load.min.js' ></script>
<script type='text/javascript' src='static/js/os.js'></script>

</body>
</html>