<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="Python,千锋云计算">
    <title>千锋云计算,Python!</title>

    <link rel='stylesheet' id='bootstrap-css' href='static/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='fontawesome-css' href='static/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='stylesheet-css' href='static/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='raxus-css' href='static/css/raxus.css' type='text/css' media='all' />
    <link rel='stylesheet' id='open-social-style-css' href='static/css/os.css' type='text/css' media='all' />
    <meta name='robots' content='index,follow' />
    <meta name="keywords" content="千锋云计算">
    <meta name="description" content="千锋云计算好程序员">
</head>

<body class="home blog site-layout-2">

    <!-- 头部 -->
    <header class="fix-wrap" id="fix-wrap">
        <div class="fix-main clearfix pr" id="fix-main" _hover-ignore="1"> <a href="/" class="index-logo">
                <img src="static/picture/new_logo.png" alt="千锋云计算,Python!"></a>
            <nav class="nav fl">
                <ul id="fix-list" class="fix-list clearfix">

                    <li id="menu-item-24086" class="menu-item"><a href="/">首页</a></li>

                    <li id="menu-item-117720" class="menu-item">
                        <a href="/list-1.html">Django</a></li>

                    <li id="menu-item-117720" class="menu-item">
                        <a href="/list-2.html">Python</a></li>

                    <li id="menu-item-117720" class="menu-item">
                        <a href="/list-3.html">Linux</a></li>

                    <li id="menu-item-117720" class="menu-item">
                        <a href="/list-4.html">Mysql</a></li>

                    <li id="menu-item-117720" class="menu-item">
                        <a href="/list-5.html">运维知识</a></li>

                    <li id="menu-item-24086" class="menu-item"><a href="/about/">关于博主</a></li>


                </ul>
            </nav>
            <form method="get" class="index-search  hidden-xs" action="/s/">
                <input class="text" name="search" type="text" placeholder="输入关键字" value="">
                <button class="submit" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </header>

    <!-- /主体 -->
    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <a href="/list-2.html">Python</a> »
                <span class="current">正文</div>
            <div class="post-main clearfix">
                <h1 class="post-title">Python 列表</h1>
                <div class="post-con clearfix">
                    <div class="article-meta">
                        <span class="item">分类：<a href="/list-2.html" rel="category tag">Python</a></span>
                        <span class="item">作者：admin</span>
                        <span class="item">浏览：43</span>
                        <span class="item">2018年10月7日 17:58</span>

                    </div>
                    <article class="article-content">
                        <p>列表的定义
                        []
                        list
                        range
                        xrange
                        print [1,2,3]
                        print [1,3,[3,4]]
                        print list('abcd')
                        print range(2,10,2)
                        print list(xrange(10))
                        ##result
                        [1, 2, 3]
                        [1, 3, [3, 4]]
                        ['a', 'b', 'c', 'd']
                        [2, 4, 6, 8]
                        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]</p>
                    </article>

                    <div class="post-tag"><span class="fa fa-tags" aria-hidden="true"></span>标签：

                        <a href="/tag/Python" rel="tag">Python</a>

                        <a href="/tag/Django" rel="tag">Django</a>

                    </div>
                    <div>
                        <div><b>上一篇：</b>

                            <a href="show-2.html" class="article-tag">Python列表</a>

                        </div>
                        <div><b>下一篇：</b>

                            <a href="show-8.html" class="article-tag">Python元组</a>

                        </div>
                    </div>
                </div>

            </div>
            <!-- /文章 -->


            <div class="recommend  hidden-xs">

                <div class="head clearfix"><span class="sp">您可能感兴趣的:</span></div>
                <ul>

                    <li>
                        <div class="pic">
                            <a href="/show-2.html" title="千锋云计算"><img
                                    src="static/picture/quora.png" srcset="/media/article_img/2018/10/07/quora.png"
                                    alt="千锋云计算" class="wp-post-image" width="145"
                                    height="100" /></a>
                        </div>
                        <a class="descript " href="/show-2.html" rel="bookmark"
                            title="千锋云计算">千锋云计算</a>
                    </li>

                    <li>
                        <div class="pic">
                            <a href="/show-4.html" title="千锋云计算好程序员"><img
                                    src="static/picture/firefox503.jpg"
                                    srcset="/media/article_img/2018/10/07/firefox503.jpg" alt="千锋云计算好程序员"
                                    class="wp-post-image" width="145" height="100" /></a>
                        </div>
                        <a class="descript " href="/show-4.html" rel="bookmark"
                            title="千锋云计算好程序员">千锋云计算好程序员</a>
                    </li>

                    <li>
                        <div class="pic">
                            <a href="/show-11.html" title="Django你不知道的秘密"><img src="static/picture/tx.jpg"
                                    srcset="/media/article_img/2018/10/07/tx.jpg" alt="Django你不知道的秘密"
                                    class="wp-post-image" width="145" height="100" /></a>
                        </div>
                        <a class="descript " href="/show-11.html" rel="bookmark" title="Django你不知道的秘密">Django你不知道的秘密</a>
                    </li>

                </ul>
            </div>


        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        <aside class="post-right hidden-xs">
            </section>
            </section>

            <section class="widget post-right-item">
                <h4 class="post-right-title">热门推荐</h4>


                <ul class="post-hot clearfix">

                    <li>
                        <div class="img">

                            <a href="/show-4.html" title="千锋云计算好程序员"><img
                                    src="static/picture/firefox503.jpg"
                                    srcset="/media/article_img/2018/10/07/firefox503.jpg" alt="" class="wp-post-image"
                                    width="120" height="80" /></a>

                        </div>
                        <a href="/show-4.html" title="千锋云计算好程序员" target="_blank"
                            class="title">千锋云计算好程序员</a>
                    </li>
                    <li>
                        <div class="img">
                    
                            <a href="/show-4.html" title="千锋云计算好程序员"><img src="static/picture/firefox503.jpg"
                                    srcset="/media/article_img/2018/10/07/firefox503.jpg" alt="" class="wp-post-image" width="120"
                                    height="80" /></a>
                    
                        </div>
                        <a href="/show-4.html" title="千锋云计算好程序员" target="_blank" class="title">千锋云计算好程序员</a>
                    </li>



                </ul>
            </section>
            </section>
            <section class="widget post-right-item">
                <h4 class="post-right-title">所有标签</h4>
                <div class="tags">

                    <a href="/tag/django">django</a>

                    <a href="/tag/Python">Python</a>

                    <a href="/tag/mysql">mysql</a>

                    <a href="/tag/Linux">Linux</a>

                </div>
            </section>
            <!-- /关注我们 -->
            <div class="post-right-item">
                <h4 class="post-right-title">关注我</h4>
                <div class="wid-about">
                    <p>欢迎关注！</p>
                    <img src="static/picture/weixinqr.jpg" alt="微信二维码" width="160" height="160">
                </div>
                <div class="wid-about">
                    <p><strong>联系方式:</strong></p>
                    <p>wechat:liuwenqi7011</p>
                    <p>Email：liuwenqi7011@163.com</p>
                </div>
            </div>

        </aside>

        </aside>
    </div>
    <!-- /主体 -->


    <!-- 底部 -->
    <footer class="footer">
        <div class="copyright"> © 2010- 2018 · All Rights Reserved
            · <a href="http://www.liuwq.com">凯撒公猿</a>
            · <a href="http://www.miibeian.gov.cn" target="_blank">备案号xxxx号</a> 版权所有 xxxxx</div>
    </footer>
    <script src="static/js/bundle.js"></script>
    <script type="text/javascript" src="static/js/view-history.js"></script>
    <script type='text/javascript' src="static/js/push.js"></script>
    <script type='text/javascript' src='static/js/jquery.min.js'></script>
    <script type='text/javascript' src='static/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='static/js/raxus-slider.min.js'></script>
    <script type='text/javascript' src='static/js/loader.js'></script>
    <script type='text/javascript' src='static/js/bj-lazy-load.min.js'></script>
    <script type='text/javascript' src='static/js/os.js'></script>

</body>

</html>